.cart-box {
  position: fixed;
  top: 17%;
  right: 0;
  width: 390px;
  height: 70vh;
  background-color: #c2ddf7;
  padding: 16px;
  z-index: 1;
  overflow-y: scroll;
  /* position: relative; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
}
