.cart-box {
  position: fixed;
  top: 17%;
  right: 0;
  width: 390px;
  height: 80vh;
  background-color: rgb(54, 155, 96);
  padding: 16px;
  z-index: 1;
  overflow: hidden;
  overflow-y: scroll;
  /* position: relative; */
}
.cartPagination_container {
  position: absolute;
  bottom: 2px;
}
