.cart-box {
  position: fixed;
  top: 3.7rem;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: #c2ddf7;
  padding: 16px;
  z-index: 1;
  overflow-y: scroll;
  /* position: relative; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  z-index: 1000;
  padding: 10px 0px;
}

.auth {
  position: fixed;
  top: 3.7rem;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: #c2ddf7;
  padding: 16px;
  z-index: 1;
  overflow-y: scroll;
  /* position: relative; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  z-index: 1000;
  padding: 10px 0px;
}
