.cart-box {
  position: fixed;
  top: 3.7rem;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: #c2ddf7;
  padding: 16px;
  z-index: 1;
  overflow-y: scroll;
  /* position: relative; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  z-index: 1000;
  padding: 10px 0px;
}

.auth {
  position: fixed;
  top: 3.7rem;
  left: 0;
  width: 400px;
  height: 90vh;
  background-color: #c2ddf7;
  padding: 16px 7px;
  z-index: 1;
  overflow: hidden;
  /* position: relative; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  z-index: 1000;
  padding: 10px 0px;
}

.swiper-slide {
  text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: black;
  color: white !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px !important;
  font-weight: bolder !important;
}

.mantine-Accordion-label {
  color: white;
}

.mantine-Accordion-chevron>svg {
  color: white;
  background: #ffffff33;
  border-radius: 50%;
}